/* Using 12-color palette for deuteranopia color blindness */
/* http://mkweb.bcgsc.ca/colorblind/palettes.mhtml */

.logos {
    text-align:center;
}
.logos img {
    width:220px;
    padding:25px;
}

.schedule table {
  width: 75%;
}

.schedule th {
  width: 12.5%;
}

.schedule td {
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.sponsorship table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.detail {
    text-align: center;
}

.package {
    margin: 1em;
    padding-left: 2em;
    text-align: left;
}


.platinum {
    background-color: #E5E4E2;
    font-weight: bold;
}

.gold {
  background-color: #FFD700;
    font-weight: bold;
}

.silver {
  background-color: #C0C0C0;
    font-weight: bold;
}

.bronze {
    background-color: #8C7853;
    font-weight: bold;
}

summary {
 font-weight: bold;
}
.core1 {
  background-color: #9F0162;
}
.core1::before {
  content: "Core 1";
}
.core2 {
  background-color: #00FCCF;
}
.core2::before {
  content: "Core 2";
}
.speciala {
  background-color: #FF5AAF;
}
.speciala::before {
  content: "Special A";
}
.specialb {
  background-color: #FFC33B;
}
.specialb::before {
  content: "Special B";
}
.specialc {
  background-color: #008DF9;
}
.specialc::before {
  content: "Special C";
}
.lightning {
  background-color: #FF6E3A;
}
.lightning::before {
  content: "Lightning";
}
.invited {
  background-color: #E20134;
}
.invited::before {
  content: "Invited";
}
.coffee::before {
  content: "Coffee";
}
.lunch::before {
  content: "Lunch";
}
.freetime {
  background-color: #FFFFFF;
}
.excursion {
  background-color: #009F81
}
.excursion::before {
  content: "Excursion";
}


.flex-container {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-element {
  width: 47.5%;
  text-align: justify;
}

@media (max-width: 800px) {
  .flex-element {
    width: 100%;
  }
}
